﻿@using InvoiceApplication.Domain.Entities
@model User

@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Start</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h3>Login</h3></div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Your name:</label>
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Your password:</label>
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                </div>
                <div>
                    <input class="btn btn-success" name="loginOption" type="submit" value="User Login"/>
                    <input class="btn btn-success" name="loginOption" type="submit" value="Manager Login" />
                </div>
            }
        </div>
    </div>
</body>
</html>
