﻿@using InvoiceApplication.Domain.Entities
@model Invoice

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @if (Model == null)
    {
        <title>Add Invoice</title>
    }else
    {
        <title>Edit Invoice</title>
    }
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h3>Add an Invoice</h3></div>
        <div class="panel-body">
            @using (Html.BeginForm("AddInvoice","Invoice"))
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Client name:</label>
                    @Html.TextBoxFor(x => x.ClientName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Client address:</label>
                    @Html.TextBoxFor(x => x.ClientAddress, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Date of shipment:</label>
                    @Html.EditorFor(x => x.ShipmentDate, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Payment due date:</label>
                    @Html.EditorFor(x => x.PaymentDate, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Product name:</label>
                    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Product quantity:</label>
                    @Html.TextBoxFor(x => x.ProductQuantity, new { @class = "form-control", @type="number", @min = "0" })
                </div>
                <div class="form-group">
                    <label>Unit price:</label>
                    @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control", @type = "number", @min = "0", @step = "any" })
                </div>
                <div class="form-group">
                    <label>Currency:</label>
                    @Html.DropDownListFor(x => x.Currency, new[] {
                        new SelectListItem() {Text = "CAD",
                            Value = CurrencyType.CAD.ToString()},
                        new SelectListItem() {Text = "US",
                            Value = CurrencyType.US.ToString()},
                        new SelectListItem() {Text = "EUR",
                            Value = CurrencyType.EUR.ToString()}
                    }, "Currency", new { @class = "form-control"})

                    @if (Model != null)
                    {
                        double total = Model.GetTotal();
                        double taxes = Model.GetTotal() * 0.1;
                        double sum = total + taxes;
                        @:Subtotal: @(total)
                        @:Taxes: @(taxes)
                        @:Total: @(sum)
                    }
                    @if (Model == null)
                    {
                        <input class="btn btn-success" name="userSelection" type="submit" value="Submit Invoice" />
                    }
                    else
                    {
                        @Html.HiddenFor(x => x.InvoiceNo, new { @class = "form-control" })
                        <input class="btn btn-success" name="userSelection" type="submit" value="Save Invoice" />
                        <input class="btn btn-success" name="userSelection" type="submit" value="Mark as Paid" />
                    }
                </div>
            }
        </div>
    </div>
</body>
</html>
