﻿@using InvoiceApplication.Domain.Entities
@model User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice Manager</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h3>Invoice Manager</h3></div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                <div>
                    <input class="btn btn-success" name="userChoice" type="submit" value="Add an Invoice" />
                    @if (Session["isManager"] != null && (bool)Session["isManager"])
                    {
                        <input class="btn btn-success" name="userChoice" type="submit" value="Review Receivables" />
                    }
                </div>
            }
        </div>
    </div>
</body>
</html>
