﻿@using InvoiceApplication.Domain.Entities
@model IEnumerable<Invoice>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Review Receivables</title>
</head>
<body>
    <div>
        <h3>Receivables Overview</h3>
    </div>
    <div>
        <table>
            <tr>
                <td>Invoice number</td>
                <td>Client name</td>
                <td>Total</td>
                <td>Payment due date</td>
            </tr>
            @{ double total = 0;}
            @foreach (Invoice invoice in Model)
            {
                if (invoice.Paid != true){
                @:<tr>
                    <td>@Html.ActionLink(invoice.InvoiceNo.ToString(), "EditInvoice", invoice)</td>
                    <td>@Html.ActionLink(invoice.ClientName.ToString(), "EditInvoice", invoice)</td>
                    <td>@invoice.GetTotal()</td>
                    <td>@invoice.PaymentDate</td>
                @:</tr>
                total = total + invoice.GetTotal();
                }
            }
            <tfoot>
                <tr>
                    <td>Outstanding Receivables: </td>
                    <td>@total</td>
                </tr>
            </tfoot>
        </table>
        @Html.ActionLink("Add a new invoice", "AddInvoice")
    </div>
</body>
</html>
